<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scotts uppgift</title>

</head>
<body>
<h1>Scott uppgift</h1>
<h2>Endpoint #1</h2>
<button onclick="fetchPhoneData()">Get Phone Data</button>
<table class="phoneTable" border="1">
    <thead></thead>
    <tbody></tbody>
</table>

<h2>Endpoint #2</h2>
<div>
    <input type="date" id="car_rent_from_date" value="2013-03-11"/>
    <input type="date" id="car_rent_to_date" value="2013-03-20"/>
</div>
<button onclick="fetchCarData()">Get rental data</button>
<label for="car_colour">Select what car colour you want: </label>
<select id="car_colour">
    <option value="Red">Red</option>
    <option value="Blue">Blue</option>
    <option value="Green">Green</option>
    <option value="White">White</option>
    <option value="Purple">Purple</option>
    <option value="Yellow">Yellow</option>
</select>
<table class="carTable" border="1">
    <thead></thead>
    <tbody></tbody>
</table>
{% block javascript %}
<script type="text/javascript">
    {%include "fetcher.js" %}
</script>
{% endblock %}
</body>
</html>