<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scotts uppgift</title>

</head>
<body>
<h1>Scott uppgift</h1>
<h2>Endpoint #1</h2>
<button onclick="fetchPhoneData()">Get Phone Data</button>
<table class="phoneTable" border="1">
    <thead></thead>
    <tbody ></tbody>
</table>

<h2>Endpoint #2</h2>
<button onclick="fetchCarData()">Get rental data</button>
<table class="carTable" border="1">
    <thead></thead>
    <tbody></tbody>
</table>
<!--<script src="http://localhost:8000/js/fetcher.js"></script-->
{% block javascript %}
    <script type="text/javascript">
        {% include "fetcher.js" %}
    </script>
{% endblock %}
</body>
</html>